<h2>
  CSV File Data
</h2>

<input type="file" name="files" class="form-control" #uploads (change)="onChange(uploads.files)" multiple value="process" />

<div>
  <table style="width:100%">
    <thead>
      <tr>
        <td> Parent Identifier</td>
        <td> Student Identifier</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of data">
        <td> {{record.Parent_Identifier}} </td>
        <td> {{record.Student_Identifier}} </td>
      </tr>

    </tbody>
  </table>

</div>