<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Change Password</h3>

      </div>
      <div class="card-body">
        <form class="form-login" #resetRef='ngForm' (ngSubmit)='onClient(resetRef.value)'>

          <div class="form-group row">
            <label for="oldPassword" class="col-sm-5 col-form-label">Old Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="oldPassword" #oldPassword='ngModel' name="oldpassword"
                required ngModel>
            </div>
            <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
          </div>
          <div class="form-group row">
            <label for="newPassword" class="col-sm-5 col-form-label"> New Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="newPassword" #newPassword='ngModel' name="newpassword"
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="confirmPassword" #confirmPassword='ngModel' name="confirmpassword"
                required ngModel>
            </div>
          </div>

          <div class="form-group" style="text-align:center">
            <input type="submit" value="Confirm" class="btn  login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>