
.center-div
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /*
    This doesn't work
    margin-left: -25%;
    margin-top: -25%;
    */
    
    width: 400px;
    height: 300px;
  
    padding: 20px;  
    background-color: rgba(0,0,0,0.5) !important;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
/* @media (max-width: 1000px) {
    
    .center-inner{left:25%;top:25%;position:absolute;width:50%;height:300px;background-color: rgba(0,0,0,0.5) !important;text-align:center;max-width:500px;max-height:500px;color:#ffffff}
    } */
    
    .center{left:50%;top:25%;position:absolute;}
    .center-inner{width:400px;height:100%;margin-left:-250px;height:300px;background-color: rgba(0,0,0,0.5) !important;text-align:center;max-width:500px;max-height:500px;color:#ffffff;padding: 20px;border-radius: 20px;}
  
    @media (max-width: 428px) {
    .center-inner{width:300px;height:100%;margin-left:-150px;height:300px;background-color: rgba(0,0,0,0.5) !important;text-align:center;max-width:500px;max-height:500px;color:#ffffff;padding: 20px;border-radius: 20px;}
    .center{left:50%;top:25%;position:absolute;}

    }

    input[type="file"] {
        display: none;
    }
