<div class="container">

  <!-- Hamburger Menu -->
  <nav role='navigation'>
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#">
          <li>Add Sub Department</li>
        </a>
        <a href="#">
          <li>Sub Department List</li>
        </a>
        <a routerLink="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </nav>
  <!-- End of Hamburger Menu -->

  <div class="d-flex justify-content-center h-100">
    <div class="card">

      <table role="table">



        <thead role="rowgroup">
          <tr>
            <th colspan="9" style="background-color:#5E1D55;color:white;">
              <h3>Sub Department List</h3>
            </th>
          </tr>

          <tr role="row">
            <th role="columnheader">Department</th>
            <th role="columnheader">Sub Department</th>
            <th role="columnheader">Password</th>
            <th role="columnheader">Remarks</th>
            <td role="cell">Edit</td>

          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row" *ngFor="let data of datas">
            <td role="cell">{{data.dep}}</td>
            <td role="cell">{{data.sub_dep}}</td>
            <td role="cell">{{data.password}}</td>
            <td role="cell">{{data.remarks}}</td>
            <td role="cell"><i class="far fa-edit " (click)="onEditSubDep()"></i></td>

          </tr>
          <!-- <tr role="row">
                      <td role="cell">The</td>
                      <td role="cell">Tick</td>
                      <td role="cell">Crimefighter Sorta</td>
                      <td role="cell">Blue</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Jokey</td>
                      <td role="cell">Smurf</td>
                      <td role="cell">Giving Exploding Presents</td>
                      <td role="cell">Smurflow</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Cindy</td>
                      <td role="cell">Beyler</td>
                      <td role="cell">Sales Representative</td>
                      <td role="cell">Red</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Captain</td>
                      <td role="cell">Cool</td>
                      <td role="cell">Tree Crusher</td>
                      <td role="cell">Blue</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Captain</td>
                      <td role="cell">Cool</td>
                      <td role="cell">Tree Crusher</td>
                      <td role="cell">Blue</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Captain</td>
                      <td role="cell">Cool</td>
                      <td role="cell">Tree Crusher</td>
                      <td role="cell">Blue</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Captain</td>
                      <td role="cell">Cool</td>
                      <td role="cell">Tree Crusher</td>
                      <td role="cell">Blue</td>
                      <td role="cell"><i class="far fa-edit"></i></td>

                  </tr>
                  <tr role="row">
                      <td role="cell">Captain</td>
                      <td role="cell">Cool</td>
                      <td role="cell">Tree Crusher</td>
                      <td role="cell">Blue</td>
                      <td role="cell"><i class="far fa-edit"></i></td>


                  </tr> -->
          <tr>
            <th colspan="9" style="background-color:#5E1D55;color:white;">

              <ul class="pagination" style="float:right">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </th>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>