<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg " style="background:  rgba(0,0,0,0.5);">

    <button class="navbar-toggler d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:black;">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
    </button>



    <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto  text-right">

            <div class="line"></div>


            <li class="nav-item">
                <a class="nav-link" style="color: white;">
                    {{title}}
                </a>
            </li>
            <div class="line"></div>

            <!-- <button class="button" onclick="document.getElementById('modal-wrapper').style.display='block'">
                            {{title}} Login
                    </button> -->
            <li class="nav-item ">
                <button onclick="document.getElementById('modal-wrapper').style.display='block'">{{logout}}</button>

            </li>

        </ul>
    </div>
</nav>




<!-- End Top Navbar -->

<div id="modal-head">
    <div id="modal-wrapper" class="modal">

        <div class="container">
            <div class="row">
                <div>
                    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close Popup">&times;</span>

                    <div class="account-wall">
                        <img src="https://i2.wp.com/www.naturallysensible.com/wp-content/uploads/2017/10/login-user-icon.png?resize=200%2C200&ssl=1"
                            alt="" class="profile-image">
                        <p class="profile-name">Parallel Reality</p>
                        <span class="profile-emil">info@parallelreality.co.uk</span>


                    </div>
                </div>

            </div>

        </div>
        <hr>
        <div>

            <span><button routerLink="/" class="sign-out" type="submit">Sign out</button></span>
        </div>

    </div>
</div>

<script>
    //If User clicks outside of the modal. Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<!-- 
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="header.component.css">

<title>Logout</title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-am-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Sign In</h1>
            <div class="account-wall">
                <img src="https://i2.wp.com/www.naturallysensible.com/wp-content/uploads/2017/10/login-user-icon.png?resize=200%2C200&ssl=1" alt="" class="profile-image">
                <p class="profile-name">Parallel Reality</p>
                <span class="profile-emil">info@parallelreality.co.uk</span>
                <form action="#" class="form-signin">
                    <input type="password" class="form-control" placeholder="password" required="true" autofocus="true">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                    <a href="#" class="need-help">Need Help?</a><span class="clearfix"></span>
                </form>
            </div>
        </div>
        <a href="#" class="new-account">Sign in with a different Account</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body> -->