i
{
    font-size: 2em;
    color: white;
}
.line
{
    border-left: 1px solid white;
    height: 48px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.fa-arrow-left
{
    font-size:20px;
}

/* .mr-auto
{
    margin-left: 1500px;
}

.fas fa-arrow-left
{
    margin-right: 1500px;
} */
nav 
{
    padding: 0%;
}

/* .right-menu
{
    margin-left: auto!important;
} */

/* .mr-auto, .mx-auto {
    margin-left: auto!important;
} */


/* Full width inout fields */
input[type=text], input[type=password]
{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 10px;
}

/* Set a style for all buttons */
button
{
    background-color:transparent;
    color: white;
    /* padding-left: 5px;
    padding-right: 5px;     */
    margin-top: 8px; 
    border: none;
    font-size: 15px;
   
}

button:hover
{
    opacity: 0.8;
}

/* Pop-up Button */
.button
{
    background-color: darkgrey;
    color: black;
    font: 18px "Tahoma", Arial, Serif;
    padding: 5px;
}


/* Center the image and position the close button */
.imgcontainer
{ 
    text-align: center;
    /* margin: 50px; */
    position: relative;
    /* margin-left: 1300px; */
    margin-top: 200px;
    margin-left: 200px;
}

.avatar
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* .card {
    position: relative;
    width: 60px;
    background-color: #404040;
  }
   
  .element {
    position: absolute;
    top: 10px;
    right: 10px;
  } */
   
 #modal-head
 {
     position: relative;
     /* margin-left:99%!important; */
 }
/* the Modal (background) */
.modal
{
    /* display: none;
    position:absolute;
    top:0;
    right:0;
    
    
    width: 15%;
    height: 30%;
    margin-top: 80px;
    background-color: white;
    border-radius: 5px; */
    margin-left:83%!important;
    width:230px;
    height:230px;
    top:0!important;
    right:0!important;
 
    
    position: fixed!important;
    display: none;
    margin-top: 38px;
    background-color: white;
}

/*Modal Content Box*/
.modal-content
{
    background-color: #cacacacc;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    
    padding-bottom: 30px;
}

/* The Closse Buttn (x) */

.close
{
    position: absolute;
    right: 10px;
    /* left: 1550px; */
    /* top: 30px; */
    color: #000;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px; 
}

.close:hover,.close focus
{
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate
{
    animation: zoom 0.6s;
}
@keyframes zoom
{
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.account
{
    background-color: transparent;
    color: black;
    font: 18px "Tahoma", Arial, Serif;
    padding: 5px;
    margin-left: 20px;
    margin-top: -20px;
}
.sign-out
{
    background-color: transparent;
    color: black;
    font: 18px "Tahoma", Arial, Serif;
    padding: 5px;
    margin-left:100px;
}

.container
{
    padding-left: 60px;
    /* padding-right: 130px; */

}

 /*Button */


/* Popup */
/* 
.circle_container1
{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    margin-left: 1500px;
    margin-top: 80px;
	

}
.circle_container1 a{
	text-decoration: none;
}


.circle_main1
{
	width : 100%;
	background-color: #3ece98;
	height : 100%;
	border-radius : 50%;
	border : 6px solid #ffffff;	
	margin : 0 auto;
    padding : 0;
	text-align: center;
	overflow: hidden;
}


.circle_text_container1
{
	
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	
	position : relative;
	left : 15%;
	top : 15%;
	
	
	transform-style : preserve-3d;

}


.circle_text1
{

	font: 18px "Tahoma", Arial, Serif;	
    text-align : center;
    color:#fff;
	
	
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
 */

 /* Profile  - Gmail */
 .profile-image
 {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
 }

 .profile-name
 {
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     margin: 10px 0 0;
     /* height: 10rem; */

 }

 .profile-email
 {
     display: block;
     padding: 0px 8px;
     font-size: 14px;
     color: #404040;
     line-height: 2;
     text-align: center;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     box-sizing: border-box;
 }


.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
@media only screen and (max-width: 992px) 
{
    .line 
    {
        display: none;
    }

    i
    {
        font-size: 1em;
        color: white;
    }   
}

    @media only screen and (max-width : 768px) {

   .nav-item
   {
       right:10px;
   }
        

    }

    @media only screen and (max-width : 768px) {

        .modal
{
    /* display: none;
    position:absolute;
    top:0;
    right:0;
    
    
    width: 15%;
    height: 30%;
    margin-top: 80px;
    background-color: white;
    border-radius: 5px; */
    margin-left:70%!important;
    width:230px;
    height:230px;
    top:0!important;
    right:0!important;
 
    
    position: fixed!important;
    display: none;
    margin-top: 58px;
    background-color: white;
}

    }
    

    @media only screen and (max-width :480px) {

        .modal
{
    /* display: none;
    position:absolute;
    top:0;
    right:0;
    
    
    width: 15%;
    height: 30%;
    margin-top: 80px;
    background-color: white;
    border-radius: 5px; */
    margin-left:40%!important;
    width:230px;
    height:230px;
    top:0!important;
    right:0!important;
 
    
    position: fixed!important;
    display: none;
    margin-top: 68px;
    background-color: white;
}

    }