<br>
<div class="container" style="text-align: -webkit-center;">
  <div *ngIf="update">
    <input type="text" name="name" [(ngModel)]=datatobeedited.DpmName>
    <button (click)='saveUpdate(datatobeedited)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>
  <br>
  <br>
  <table class="table">
    <thead style="text-align: -webkit-center;color: cornsilk;">
      <tr class="text-color">
        <th>Unwash Quality Defect</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of test; let in=index' class="success" style="text-align: -webkit-center;color: white;">
        <td>{{i.DpmName}}</td>
        <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>