.main-master
{
    text-align: center;
}
a
{
	text-decoration: none;
}
/* Main Container -  this controls the size of the circle */
.circle_container
{
	width : 210px;
	height :210px;
	margin : 0 auto;
    padding : 0;
    text-align: center;
    display: inline-block;
    padding: 20px;
    
/*	border : 1px solid red; */
}
.circle_container a{
	text-decoration: none;
}

/* Circle Main draws the actual circle */
.circle_main
{
	width : 100%;
	background-color: #3ece98;
	height : 100%;
	border-radius : 50%;
	border : 6px solid #ffffff;	/* can alter thickness and colour of circle on this line */
	margin : 0 auto;
    padding : 0;
	text-align: center;
	overflow: hidden;
}

/* Circle Text Container - constrains text area to within the circle */
.circle_text_container
{
	/* area constraints */
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	/* some position nudging to center the text area */
	position : relative;
	left : 15%;
	top : 15%;
	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
	transform-style : preserve-3d;
	/*border : 1px solid green;*/
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text
{
	/* change font/size/etc here */
	font: 18px "Tahoma", Arial, Serif;	
    text-align : center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 58%;
	transform : translateY(-50%);
}


/* Popup */

.circle_container1
{
	width : 130px;
	height : 130px;
	margin : 0 auto;
    padding : 0;
    text-align: center;
    /* display: inline-block; */
	/* padding: 20px; */
	padding: 5px;
	font-size: 15px;
	
/*	border : 1px solid red; */
}
.circle_container1 a{
	text-decoration: none;
}

/* Circle Main draws the actual circle */
.circle_main1
{
	width : 100%;
	background-color: #3ece98;
	height : 100%;
	border-radius : 50%;
	border : 6px solid #ffffff;	/* can alter thickness and colour of circle on this line */
	margin : 0 auto;
    padding : 0;
	text-align: center;
	overflow: hidden;
}

/* Circle Text Container - constrains text area to within the circle */
.circle_text_container1
{
	/* area constraints */
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	/* some position nudging to center the text area */
	position : relative;
	left : 15%;
	top : 15%;
	
	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
	transform-style : preserve-3d;
	
	/*border : 1px solid green;*/
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text1
{
	/* change font/size/etc here */
	font: 18px "Tahoma", Arial, Serif;	
    text-align : center;
    color:#fff;
	
	/* vertical centering technique */
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}

/* Popup */

.circle_container2
{
	width : 200px;
	height : 200px;
	margin : 0 auto;
    padding : 0;
    text-align: center;
    display: inline-block;
    padding: 20px;
    
/*	border : 1px solid red; */
}
.circle_container2 a
{
	text-decoration: none;
}

/* Circle Main draws the actual circle */
.circle_main2
{
	width : 100%;
	background-color: #3ece98;
	height : 100%;
	border-radius : 50%;
	border : 6px solid #ffffff;	/* can alter thickness and colour of circle on this line */
	margin : 0 auto;
    padding : 0;
	text-align: center;
	overflow: hidden;
}

/* Circle Text Container - constrains text area to within the circle */
.circle_text_container2
{
	/* area constraints */
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	/* some position nudging to center the text area */
	position : relative;
	left : 15%;
	top : 15%;
	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
	transform-style : preserve-3d;
	/*border : 1px solid green;*/
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text2
{
	/* change font/size/etc here */
	font: 18px "Tahoma", Arial, Serif;	
    text-align : center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}

 
/* Assign Master */
.assign-master
{
	width : 200px;
	height :100px;
	margin : 0 auto;
    padding : 0;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

/* Assign Master */
.administrator
{
	width : 250px;
	height : 120px;
	margin : 0 auto;
    padding : 0;
    text-align: center;
    display: inline-block;
	padding: 20px;
	/* background-color: transparent; */
	text-decoration: none;
}

.washing-master
{
	width : 300px;
	height :100px;
	margin : 0 auto;
    padding : 0;
    text-align: center;
    display: inline-block;
	padding: 20px;
	/* background-color: transparent; */
	text-decoration: none;	
}

 /* Full width inout fields */
 input[type=text], input[type=password]
 {
	 width: 90%;
	 padding: 12px 20px;
	 margin: 8px 20px;
	 display: inline-block;
	 border: 1px solid #ccc;
	 box-sizing: border-box;
	 font-size: 10px;
	 
 }
 
 
 
 /* Set a style for all buttons */

 button
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 50%;
	border: none;
	transform : translateY(-50%);
 }

 .button1
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 50%;
	border: none;
	transform : translateY(-50%);
	margin-left: -20px;
    margin-right: -20px
 }

 .button2
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	margin-top: 30%;
    margin-left: -20px;
    border: none;
    margin-right: -20px;
	transform : translateY(-50%);
 }

 .button3
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	margin-top: 50%;
    border: none;
    margin-right: -20px;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button4
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    margin-left: -20px;
    margin-right: -20px;
	transform : translateY(-50%);
 }

 .button5
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 50%;
    margin-right: -20px;
    border: none;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button6
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 60%;

    border: none;
    margin-left: -20px;
    margin-right: -20px;
	transform : translateY(-50%);
 }

 .button7
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    border: none;
    margin-right: -20px;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button8
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    margin-right: -20px;
    border: none;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button9
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
	margin-right: -20px;
    border: none;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button10
 {
	background-color: transparent;  
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    border: none;
    margin-right: -20px;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button11
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 50%;
    border: none;
    margin-right: -20px;
    margin-left: -20px;

	transform : translateY(-50%);
 }

 .button12
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    border: none;
    margin-right: -20px;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 .button13
 {
	background-color: transparent;  
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    margin-right: -20px;
    border: none;
    margin-left: -20px;
	transform : translateY(-50%);
 }

 
 .button14
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top : 50%;
	margin-top: 30%;
    border: none;
    margin-left: -10px;
    margin-right: -10px;
	transform : translateY(-50%);
 }


 
 .button15
 {
	background-color: transparent; 
	font: 18px "Tahoma", Arial, Serif;	
	text-align: -moz-center;
    text-align: -webkit-center;
    color:#fff;
	/* vertical centering technique */
	position : relative;
	top: 50%;
    margin-top: 40%;
    border: none;
	margin-left: -30px;
	margin-right: -30px;
	transform : translateY(-50%);
 }

 /* the Modal (background) */
 .modal
 {
	 display: none;
	 position: fixed;
	 z-index: 1;
	 left: 0;
	 top: 0;
	 width: 100%;
	 /* overflow: auto; */
	 background-color: rgba(0,0,0,0.4); 
	 
 }
 
 /*Modal Content Box*/
 .modal-content
 {
	 /* It removes the background box */
	 background-color:transparent; 
	 margin: 4% auto 15% auto;
	 border: 1px solid #888;
	 width: 100%;
	 height: 100%;
	 padding-bottom:50px;
	 border: none;
 }


 .close
 {
	 position: absolute;
	 top: 0;
	 color: white;
	 font-size: 35px;
	 font-weight: bold;
	 padding: 20px;
	 margin-left: 30px;
	margin-top:90px;
 }
 

 .close:hover,.close focus
 {
	 color: red;
	 cursor: pointer;
 }

.close1
{
	position: absolute;

	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin-left: 30px;
    margin-top: 90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.close1:hover,.close1 focus
{
	color: red;
	cursor: pointer;
}

.close2
{
	position: absolute;

	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin-left: 30px;
    margin-top: 90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.close2:hover,.close2 focus
{
	color: red;
	cursor: pointer;
}
 /* Close button for inline block*/
  /* .close
 {
	position: absolute;
    
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    margin-left: -25px;
    margin-top: -45px;
	
} */
.close3
{
	position: absolute;

	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin-left: 30px;
    margin-top: 90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.close3:hover,.close3 focus
{
	color: red;
	cursor: pointer;
}

.close4
{
	position: absolute;

	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
    margin-left: 30px;
    margin-top: 90px;
}
.close4:hover,.close4 focus
 {
	 color: red;
	 cursor: pointer;
 }
 
.close5
{
	position: absolute;

	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
    margin-left: 30px;
    margin-top: 90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}
.close5:hover,.close5 focus
 {
	 color: red;
	 cursor: pointer;
 }
 
.close6
 {
	 position: absolute;
	 
	 top: 0;
	 color: white;
	 font-size: 35px;
	 font-weight: bold;
	 padding: 20px;
	 margin-left: 30px;
	 margin-top:90px;
 }
 

 .close6:hover,.close6 focus
 {
	 color: red;
	 cursor: pointer;
 }

 
.close7
{
	position: absolute;
	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
    margin-left: 30px;
    margin-top: 90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.close7:hover,.close7 focus
{
	color: red;
	cursor: pointer;
}


.close8
{
	position: absolute;

	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin-left: 30px;
    margin-top: 90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.close8:hover,.close8 focus
{
	color: red;
	cursor: pointer;
}


.close9
{
	position: absolute;
	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin-left: 30px;
    margin-top:90px;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.close9:hover,.close9 focus
{
	color: red;
	cursor: pointer;
}

.close10
	{
		position: absolute;
		position: absolute;
		top: 0;
		color: white;
		font-size: 35px;
		font-weight: bold;
		padding: 20px;
		margin-left: 30px;
		margin-top:90px;
	}

	
	.close10:hover,.close10 focus
	{
		color: red;
		cursor: pointer;
	}

		
	.close11
	{
		position: absolute;
		top: 0;
		color: white;
		font-size: 35px;
		font-weight: bold;
		padding: 20px;
		margin-left: 30px;
		margin-top:90px;
		opacity: .5;
		text-shadow: 0 1px 0 #fff;
	}

	.close11:hover,.close11 focus
	{
		color: red;
		cursor: pointer;
	}
	

		
	.close12
	{
		position: absolute;

		top: 0;
		color: white;
		font-size: 35px;
		font-weight: bold;
		padding: 20px;
		margin-left: 30px;
	    margin-top:90px;
		opacity: .5;
		text-shadow: 0 1px 0 #fff;
	}

	.close12:hover,.close12 focus
	{
		color: red;
		cursor: pointer;
	}

	
	.close13
	{
		position: absolute;
		
		top: 0;
		color: white;
		font-size: 35px;
		font-weight: bold;
		padding: 20px;
		margin-left: 30px;
		margin-top:90px;
	}
	
   
	.close13:hover,.close13 focus
	{
		color: red;
		cursor: pointer;
	}

	
	.close14
	{
		position: absolute;
		
		top: 0;
		color: white;
		font-size: 35px;
		font-weight: bold;
		padding: 20px;
		margin-left: 30px;
		margin-top:90px;
	}
	
   
	.close14:hover,.close14 focus
	{
		color: red;
		cursor: pointer;
	}


	.close15
	{
		position: absolute;
		
		top: 0;
		color: white;
		font-size: 35px;
		font-weight: bold;
		padding: 20px;
		margin-left: 30px;
		margin-top:90px;
	}
	
   
	.close15:hover,.close15 focus
	{
		color: red;
		cursor: pointer;
	}
 /* Add Zoom Animation */
 .animate
 {
	 animation: zoom 0.6s;
 }
 @keyframes zoom
 {
	 from {transform: scale(0)}
	 to {transform: scale(1)}
 }


 .Popup
 {
	 margin-top: 120px;
 }
