<!--   main master  -->

<div class="main-master">

  <div>
    <div class="washing-master">
      <a routerLink="#">
        <div style="background:skyblue;padding: 10px;border-radius: 10px; text-decoration: none;">
          <p style="font-size:20px;text-decoration: none;"> Master Of Washing WIP</p>
        </div>
      </a>
    </div>
  </div>
  <div>
    <!-- first row of circle  -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper5').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button14">
              Buyer Or Brand Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper5" class="modal">
      <form class="modal-content6 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper5').style.display='none'" class="close">&times;</span>
          </div>
          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-buyser-brand">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-buyer-brand">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/buyer-brand-import">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper5')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper14').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button1">
              Garment Manufacturer Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper14" class="modal ">
      <form class="modal-content4 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper14').style.display='none'" class="close13">&times;</span>
          </div>
          <div class="circle_container1">
            <a routerLink="/add-garment-manufacturer-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-garmment-manufacturer">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/garment-manufacturer-import">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper14')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper1').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button2">
              Garment Item Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper1" class="modal">
      <form class="modal-content3 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper1').style.display='none'" class="close10">&times;</span>
          </div>
          <div class="circle_container1">
            <a routerLink="/add-garment-item">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-garment-item">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper1')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper13').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button3">
              Dry Process Material Supplier Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper13" class="modal">
      <form class="modal-content14 animate" action="#">

        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper13').style.display='none'" class="close6">&times;</span>
          </div>

          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-dry-material">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-dry-material">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/import-dry-material">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper5')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper3').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <!-- <div class="first"> -->
            <button class="button4">
              Wash Process Master
            </button>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper3" class="modal">
      <form class="modal-content1 animate" action="#">


        <!-- <div class="test">    -->
        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper3').style.display='none'" class="close4">&times;</span>
          </div>
          <!-- <div class="second"> -->
          <div class="circle_container1">
            <a routerLink="/assign-wash-process">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- </div> -->

          <!-- <div class="second"> -->
          <div class="circle_container1">
            <a routerLink="/edit-wash-process">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- </div> -->

        </div>
        <!-- </div>  -->

      </form>
    </div><!-- End of the main master  -->
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper3')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->


  </div><!-- End of first row of circle  -->

  <div>
    <!-- second row of circle  -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper12').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button5">
              Chemical Manufacturer Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper12" class="modal">
      <form class="modal-content13 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper12').style.display='none'" class="close11">&times;</span>
          </div>
          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-chemical-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-chemical-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="circle_container1">
            <a routerLink="/import-chemical-manufacturer">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper5')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper6').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button6">
              Chemical Agent Or Distributor Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper6" class="modal">
      <form class="modal-content7 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper6').style.display='none'" class="close1">&times;</span>
          </div>
          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-chemical-agent-distributor">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-chemical-agent-distributor">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/import-chemical-agent-distributor">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper6')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper4').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button7">
              Chemical Product Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper4" class="modal">
      <form class="modal-content5 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper4').style.display='none'" class="close12">&times;</span>
          </div>
          <div class="circle_container1">
            <a routerLink="/add-chemical-product">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-chemical-product">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/import-chemical-product">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper4')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper7').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button8">
              Chemical Assign Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper7" class="modal">
      <form class="modal-content11 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper7').style.display='none'" class="close3">&times;</span>
          </div>
          <div class="circle_container1">
            <a routerLink="/add-chemical-assign-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/chemical-assign-master-assign-list">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper7')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->



    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper2').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button9">
              Wash Step Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper2" class="modal">
      <form class="modal-content2 animate" action="#">

        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper2').style.display='none'" class="close5">&times;</span>
          </div>

          <div class="circle_container1">
            <a routerLink="/add-wash-step-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/wash-step-master-list-edit">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper2')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->

  </div><!-- End second row of circle  -->


  <div>
    <!-- third row of circle  -->

    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper15').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button11">
              Dry Process Material Product Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper15" class="modal">
      <form class="modal-content15 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper15').style.display='none'" class="close14">&times;</span>
          </div>
          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-Dry-Process-Material-Product-Master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-Dry-Process-Material-Product-Master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/import-Dry-Process-Material-Product-Master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Import
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper15')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->


    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper8').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button10">
              Dry Process Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper8" class="modal">
      <form class="modal-content8 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper8').style.display='none'" class="close7">&times;</span>
          </div>
          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-supplier-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-supplier-master">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper8')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->
    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper9').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button15">
              Unwash Quality Defect Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper9" class="modal">
      <form class="modal-content9 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper9').style.display='none'" class="close8">&times;</span>
          </div>
          <!-- second row of circle  -->
          <div class="circle_container1">
            <a routerLink="/add-unwash">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-unwash">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper9')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

    <!-- MouseOver(Hover) Functionality Ends -->

    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper10').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button12">
              Final Quality Defect Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper10" class="modal">
      <form class="modal-content10 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper10').style.display='none'" class="close9">&times;</span>
          </div>
          <div class="circle_container1">
            <a routerLink="/add-financial">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-financial">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper10')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->



    <!-- MouseOver(Hover) Functionality -->
    <div class="circle_container">
      <!-- <a routerLink="/garment-manufacturer-master-menus"> -->
      <div class="circle_main" onclick="document.getElementById('modal-wrapper11').style.display='block'">
        <div class="circle_text_container">
          <div class="circle_text">
            <button class="button13">
              Transit Error Master
            </button>
          </div>
        </div>
      </div>
      <!-- </a> -->
    </div>

    <div id="modal-wrapper11" class="modal">
      <form class="modal-content12 animate" action="#">


        <div class="Popup col-md-12">
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper11').style.display='none'" class="close2">&times;</span>
          </div>
          <div class="circle_container1">
            <a routerLink="/add-transit">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Add
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="circle_container1">
            <a routerLink="/edit-transit">
              <div class="circle_main1">
                <div class="circle_text_container1">
                  <div class="circle_text1">
                    Edit
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </form>
    </div>
    <script>
      //If User clicks outside of the modal. Modal will close

      var modal = document.getElementById('modal-wrapper11')
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!-- MouseOver(Hover) Functionality Ends -->



  </div><!-- End third row of circle  -->



  <!-- <div>
      <div class="administrator">
        <a routerLink="#">
         <div style="background:skyblue;padding: 10px;border-radius: 10px; text-decoration: none;">
           <p style="font-size:20px;text-decoration: none;"> Administrator Dpt<br> Password creator</p>
         </div>
        </a>
       </div> 
     </div>  -->
  <!-- Assign Master  -->
  <!-- <div class="assign-master">
    <a routerLink="/chemical-assign-master-menus">
      <div style="background:skyblue;padding: 10px;border-radius: 10px;">
        <i class="far fa-file-alt fa-2x"></i>
        <p style="font-size:25px;">Assign Master</p>
      </div>
    </a>
  </div> -->
</div><!-- End of the main master  -->