<div class="signin-form">
    <form  #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
		<h2>Sign in</h2>
        <div class="form-group">
        	<input type="text" class="form-control input-lg"placeholder="Enter Username" #usernameRef='ngModel' name="username" required ngModel>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Enter Password" #passwordRef='ngModel' name="password" required ngModel>
        </div>  
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" value="SignIn">Sign in</button>
        </div>
        

                           