
/* .center-div
{

} */
/* @media (max-width: 1000px) {
    
    .center-inner{left:25%;top:25%;position:absolute;width:50%;height:300px;background-color: rgba(0,0,0,0.5) !important;text-align:center;max-width:500px;max-height:500px;color:#ffffff}
    } */
    
    .center{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 300px;
        padding: 20px;  
        
        background-color: rgba(0,0,0,0.5) !important;
        color: white;
        text-align: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }
    /* .center-inner{width:400px;height:100%;height:300px;background-color: rgba(0,0,0,0.5) !important;text-align:center;max-width:500px;max-height:500px;color:#ffffff;padding: 20px;border-radius: 20px;}
  
    @media (max-width: 428px) {
    .center-inner{width:300px;height:100%;height:300px;background-color: rgba(0,0,0,0.5) !important;text-align:center;max-width:500px;max-height:500px;color:#ffffff;padding: 20px;border-radius: 20px;}
    .center{left:50%;top:25%;position:absolute;}
    } */
    @media only screen and (min-width : 320px) and (max-width :768px) {
        .center{
            margin-left:50px;
            margin-right: 50px;
            margin-bottom: 50px;
            }
    
    }
    #myFile {
        display:none;
    }
    input[type="file"] {
        display: none;
    }
    table,tr,th,td
    {
        border:1px solid #fff;
    }