<br>

<div class="container table-responsive table-responsive-sm table-responsive-md" style="text-align: -webkit-center;">


    <!-- <div *ngIf="update">
    <input type="text" name="name" [(ngModel)]=dataedit.newBuyrBrand>
    <input type="text" name="name" [(ngModel)]=dataedit.address>
    <input type="text" name="name" [(ngModel)]=dataedit.Pincode>
    <input type="text" name="name" [(ngModel)]=dataedit.Cperson>
    <input type="text" name="name" [(ngModel)]=dataedit.mobile>
    <input type="text" name="name" [(ngModel)]=dataedit.altermobile>
    <input type="text" name="name" [(ngModel)]=dataedit.Email>
    <input type="text" name="name" [(ngModel)]=dataedit.website>
    <input type="text" name="name" [(ngModel)]=dataedit.remarks>
    <button (click)='saveUpdate(dataedit)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>
  <br>
  <br> -->
    <table class="table">
        <thead style="text-align: -webkit-center;color: cornsilk;">
            <tr class="text-color">
                <th>Buyer Or Brand Name</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Contact Person</th>
                <th>Mobile No</th>
                <th>Alt Mobile Mo</th>
                <th>Email Id</th>
                <th>Website</th>
                <th>Remark</th>
                <th>Edit</th>
            </tr>
        </thead>
        <!-- <tbody>
      <tr *ngFor='let i of data; let in=index' class="success" style="color:white">
        <td role="cell">{{i.newBuyerBrand}}</td>
        <td role="cell">{{i.address}}</td>
        <td role="cell">{{i.Pincode}}</td>
        <td role="cell">{{i.Cperson}}</td>
        <td role="cell">{{i.mobile}}</td>
        <td role="cell">{{i.altermobile}}</td>
        <td role="cell">{{i.Email}}</td>
        <td role="cell">{{i.website}}</td>
        <td role="cell">{{i.remarks}}</td>
        <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>
      </tr>
    </tbody> -->
    </table>
    <button id="export-button" type="button" (click)="exportExcel()" class="btn btn-info btn-lg ">Export</button>

</div>

<br><br><br>
<div class="center" style="margin-top: 80px;">
    <div class="center-inner">
        <form id="login">
            <h4>Import File</h4>
            <hr>
            <p>* Only CSV File can be import. </p>

            <input type="file" name="files" class="form-control" #uploads (change)="onChange(uploads.files)" multiple
                value="process" #file />
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" (click)="file.click()" type="button">Browser</button>
                </div>
                <input type="text" value="{{fileName}}" class="form-control form-control-lg" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <br>
            <div class="form-group" style="text-align:center">
                <button style="padding: 0;
                        border: none;
                        background: none;"
                    type="button" (click)="onUpload()">

                    <i class="fas fa-check-circle" style="font-size:70px;color: yellow;"></i>

                </button>
            </div>

        </form>
    </div>
</div>