<!-- <br>
<div class="container" style="text-align: -webkit-center;">
    <div *ngIf="update" >
      <input type="text" name="name" [(ngModel)]=datatobeedited.ChemicalForm>      
      <input type="text" name="name" [(ngModel)]=datatobeedited.Consumption>
      <input type="text" name="name" [(ngModel)]=datatobeedited.Quantity>
      <input type="text" name="name" [(ngModel)]=datatobeedited.ReorderLevel>
      <input type="text" name="name" [(ngModel)]=datatobeedited.Remark>
      <button (click)='saveUpdate(datatobeedited)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
    </div>
<div class="table-container">
  <div>
    <div class="card">
      <div class="card-body">
        <table role="table" style="width:100%;margin: 0;padding: 0">
          <thead role="rowgroup">
            <tr>
              <th colspan="12" style="background-color:#5E1D55;color:white;">
                <h3>Edit Chemical</h3>
              </th>
            </tr>
            <tr class="text-color"><th role="columnheader">New Product Name</th>
              <th role="columnheader">Agent/Distributor Name</th>
              <th role="columnheader">Manufacturer Name</th>
              <th role="columnheader">Category</th>
              <th role="columnheader">Subcategory</th>
              <th role="columnheader">Chemical Form</th>
              <th role="columnheader">Average Per Day Consumption</th>
              <th role="columnheader">Minimum Order Quantity</th>
              <th role="columnheader">Reorder Level</th>
              <th role="columnheader">Remark</th>
              <td role="columnheader">Edit</td>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor='let i of test; let in=index'  class="success" style="text-align:-webkit-center;color:white">
                <td>{{i.newproductname}}</td>
                 <td>{{i.DistributorName}}</td>
                 <td>{{i.ManufacturerName}}</td>           
                 <td>{{i.Subcategory}}</td>
                 <td>{{i.ChemicalForm}}</td>
                 <td>{{i.Consumption}}</td>
                 <td>{{i.Quantity}}</td>
                 <td>{{i.ReorderLevel}}</td>
                 <td>{{i.Remark}}</td>
                 <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>  
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  -->
<br>
<div class="container table-responsive-lg table-responsive-sm table-responsive-md" style="text-align: -webkit-center;">
  <div *ngIf="update">
    <input type="text" name="name" [(ngModel)]=datatobeedited.dryproductname>
    <input type="text" name="name" [(ngModel)]=datatobeedited.dryDistributorName>

    <input type="text" name="name" [(ngModel)]=datatobeedited.dryConsumption>
    <input type="text" name="name" [(ngModel)]=datatobeedited.dryQuantity>
    <input type="text" name="name" [(ngModel)]=datatobeedited.dryReorderLevel>
    <input type="text" name="name" [(ngModel)]=datatobeedited.dryRemark>
    <button (click)='saveUpdate(datatobeedited)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>

  <br>
  <br>
  <table class="table">
    <thead style="text-align:-webkit-center;color:cornsilk">
      <tr class="text-color">
        <th role="columnheader">Dry Process Material Product Name</th>
        <th role="columnheader">Dry Process Material Supplier</th>
        <th role="columnheader">Average Per Day Consumption</th>
        <th role="columnheader">Minimum Order Quantity</th>
        <th role="columnheader">Reorder Level</th>
        <th role="columnheader">Remark</th>
        <th role="columnheader">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of test1; let in=index' class="success" style="text-align:-webkit-center;color:white">
        <td>{{i.dryproductname}}</td>
        <td>{{i.dryDistributorName}}</td>

        <td>{{i.dryConsumption}}</td>
        <td>{{i.dryQuantity}}</td>
        <td>{{i.dryReorderLevel}}</td>
        <td>{{i.dryRemark}}</td>
        <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <button id="export-button" type="button" (click)="exportExcel()" class="btn btn-info btn-lg ">Export</button>
</div>