<br>
<div class="container table-responsive-lg table-responsive-sm table-responsive-md" style="text-align: -webkit-center;">
  <div *ngIf="update">
    <input type="text" placeholder="New Chemical Agent" name="name" [(ngModel)]=datatobeedited.newChemicAgent>
    <input type="text" placeholder="address" name="name" [(ngModel)]=datatobeedited.address>
    <input type="text" placeholder="Pincode" name="name" [(ngModel)]=datatobeedited.Pincode>
    <input type="text" placeholder="Contact person" name="name" [(ngModel)]=datatobeedited.Cperson>
    <input type="text" placeholder="mobile" name="name" [(ngModel)]=datatobeedited.mobile>
    <input type="text" placeholder="Alter Mobile number" name="name" [(ngModel)]=datatobeedited.altermobile>
    <input type="text" placeholder="Email" name="name" [(ngModel)]=datatobeedited.Email>
    <input type="text" name="name" [(ngModel)]=datatobeedited.GSTIN>
    <input type="text" name="name" [(ngModel)]=datatobeedited.remarks>
    <button (click)='saveUpdate(datatobeedited)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>
  <br>
  <br>
  <table class="table">
    <thead style="text-align: -webkit-center;color: cornsilk;">
      <tr class="text-color">
        <th>New Chemical Agent Or Distributor Name</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Contact Person</th>
        <th>Mobile No</th>
        <th>Alter Mobile number</th>
        <th>Email Id</th>
        <th>GSTIN number</th>
        <th>Remark</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of data; let in=index' class="success" style="color: white;">
        <td role="cell">{{i.newChemicAgent}}</td>
        <td role="cell">{{i.address}}</td>
        <td role="cell">{{i.Pincode}}</td>
        <td role="cell">{{i.Cperson}}</td>
        <td role="cell">{{i.mobile}}</td>
        <td role="cell">{{i.altermobile}}</td>
        <td role="cell">{{i.Email}}</td>
        <td role="cell">{{i.GSTIN}}</td>
        <td role="cell">{{i.remarks}}</td>
        <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <button id="export-button" type="button" (click)="exportExcel()" class="btn btn-info btn-lg ">Export</button>
</div>