<div class="assining-form">
  <form class="assining-form" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3 style="text-align:center">Wash Assign Process</h3>
          </div>
          <div class="card-body">

            <div class="form-group row">
              <label for="seldep" class="col-sm-5 col-form-label">Wash Process</label>
              <div class="col-sm-7">
                <select class="form-control" id="seldep" name="seldep" #seldepRef='ngModel' required ngModel>
                  <option selected>Select Department</option>
                  <option>Washing</option>
                  <option>Dyeing</option>

                </select>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="subDep" class="col-sm-5 col-form-label">Sub-Process</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="subDep" name="subDep1" #suDep1Ref='ngModel' required
                  ngModel>
              </div>
            </div>
            <br>
            <div class="form-group" style="text-align:center">
              <button style="padding: 0;
              border: none;
              background: none;" type="submit">
                <!-- <i class="far fa-check-circle"> -->
                <i class="fas fa-check-circle" style="font-size:60px;color: yellow;"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>