<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Login</h3>

      </div>
      <div class="card-body">
        <form class="form-login" #clientRef='ngForm' (ngSubmit)='onSubmit(clientRef.value)'>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username" #usernameRef='ngModel' name="username"
              required ngModel>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" #passwordRef='ngModel' name="password"
              required ngModel>
          </div>
          <div class="row align-items-center remember ">
            <input type="checkbox" style="zoom:.7;">Remember Me
          </div>
          <div class="form-group" style="text-align:center">
            <input type="submit" value="Login" class="btn  login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>