<div class="container">
  <!-- Hamburger Menu -->
  <nav role='navigation'>
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#">
          <li>Add Sub Department</li>
        </a>
        <a href="#">
          <li>Sub Department List</li>
        </a>
        <a routerLink="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </nav>
  <!-- End of Hamburger Menu -->
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Add Sub Department</h3>
      </div>
      <div class="card-body">
        <form class="form-login" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>

          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label">Department</label>
            <div class="col-sm-7">
              <select class="form-control" id="selectdep" name="subDepSelect" #selectRef='ngModel' required ngModel>
                <option>Select Department</option>
                <option>Inward</option>
                <option>Accountant</option>
                <option>Washing</option>
                <option>Outward</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDep" class="col-sm-5 col-form-label">Sub Department</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDep" #subdeportmentRef='ngModel' name="subDepartment" required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepPassword" class="col-sm-5 col-form-label">Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="subDepPassword" #subPasswordRef='ngModel' name="subDepPassword"
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepcfPassword" class="col-sm-5 col-form-label">Confirm Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="subDepcfPassword" #subDepCFPasswordRef='ngModel' name="subDepCFPassword"
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Remarks</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" subDepRemarkRef='ngModel' name="subDepRemark" required ngModel>
            </div>
          </div>

          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
            border: none;
            background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" style="font-size:60px;color: yellow;"></i>

            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>