<br>
<div class="container table-responsive-sm table-responsive-md table-responsive-lg" style="text-align: -webkit-center;">
  <div *ngIf="update">
    <input type="text" name="name" [(ngModel)]=dataedit.newSupplierName>
    <input type="text" name="name" [(ngModel)]=dataedit.address>
    <input type="text" name="name" [(ngModel)]=dataedit.Pincode>
    <input type="text" name="name" [(ngModel)]=dataedit.Cperson>
    <input type="text" name="name" [(ngModel)]=dataedit.mobile>
    <input type="text" name="name" [(ngModel)]=dataedit.landline>
    <input type="text" name="name" [(ngModel)]=dataedit.Email>
    <input type="text" name="name" [(ngModel)]=dataedit.tin>
    <input type="text" name="name" [(ngModel)]=dataedit.remarks>
    <button (click)='saveUpdate(dataedit)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>
  <br>
  <br>
  <table class="table">
    <thead style="text-align: -webkit-center;color: cornsilk;">
      <tr class="text-color">
        <th>Chemical Manufacturer Name</th>
        <th>Contact Person</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Mobile No</th>
        <th>Landline</th>
        <th>Email Id</th>
        <th>GSTIN</th>
        <th>Remark</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of test; let in=index' class="success" style="color:white">
        <td role="cell">{{i.newSupplierName}}</td>
        <td role="cell">{{i.Cperson}}</td>
        <td role="cell">{{i.address}}</td>
        <td role="cell">{{i.Pincode}}</td>
        <td role="cell">{{i.mobile}}</td>
        <td role="cell">{{i.landline}}</td>
        <td role="cell">{{i.Email}}</td>
        <td role="cell">{{i.tin}}</td>
        <td role="cell">{{i.remarks}}</td>
        <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <button id="export-button" type="button" (click)="exportExcel()" class="btn btn-info btn-lg ">Export</button>
</div>