<div class="main">
    <app-header></app-header>
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <router-outlet></router-outlet>


</div>
<!-- <app-file-upload></app-file-upload> -->