<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Add New Chemical Product</h3>
      </div>
      <div class="card-body">
        <form class="form-login" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
          <div class="form-group row">
            <label for="subDep" class="col-sm-5 col-form-label">Chemical Product Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDep" name="newproductname" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label"> Agent Or Distributor Name</label>
            <div class="col-sm-7">
              <select class="form-control" id="seldep" name="DistributorName" #selectRef='ngModel' required ngModel>
                <option selected>Agent Name</option>
                <option *ngFor="let i of data">{{i.newChemicAgent}}</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label"> Chemical Manufacturer Name</label>
            <div class="col-sm-7">
              <select class="form-control" id="seldep" name="ManufacturerName" #selectRef='ngModel' required ngModel>
                <option selected> Chemical Manufacturer Name</option>
                <option *ngFor="let j of data1">{{j.newchemicalman}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepcfPassword" class="col-sm-5 col-form-label">Category</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepcfPassword" name="Category" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Subcategory</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="Subcategory" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Chemical Form</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="ChemicalForm" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Average Per Day Consumption</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="Consumption" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Minimum Order Quantity</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="Quantity" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Reorder Level</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="ReorderLevel" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Remark</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="Remark" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>

          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
                border: none;
                background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" style="font-size:60px;color: yellow;"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>