<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center"> Add Transit Error</h3>
      </div>
      <div class="card-body">
        <form class="form-login" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
          <div class="form-group row">
            <label for="gartype" class="col-sm-3 col-form-label">Add</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="gartype" name="DpmName" #seldepRef='ngModel' required ngModel>
            </div>
          </div>
          <br>
          <br>
          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
                border: none;
                background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" style="font-size:60px;color: yellow;"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>