<br>


<div class="container table-responsive-lg table-responsive-sm table-responsive-md" style="text-align: -webkit-center;">

  <div *ngIf="update" style="margin:0 auto;text-align: center">
    <input type="text" name="name" [(ngModel)]=dataedit.newGarManf>
    <input type="text" name="name" [(ngModel)]=dataedit.address>
    <input type="text" name="name" [(ngModel)]=dataedit.Pincode>
    <input type="text" name="name" [(ngModel)]=dataedit.Cperson>
    <input type="text" name="name" [(ngModel)]=dataedit.mobile>
    <input type="text" name="name" [(ngModel)]=dataedit.altermobile>
    <input type="text" name="name" [(ngModel)]=dataedit.Email>
    <input type="text" name="name" [(ngModel)]=dataedit.website>
    <input type="text" name="name" [(ngModel)]=dataedit.remarks>
    <button (click)='saveUpdate(dataedit)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>
  <br>
  <br>
  <table class="table">
    <thead style="text-align: -webkit-center;color: cornsilk;">
      <tr class="text-color">
        <th>Garment Master Name</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Contact Person</th>
        <th>Mobile No</th>
        <th>Alt Mobile Mo</th>
        <th>Email Id</th>
        <th>Website</th>
        <th>Remark</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of data; let in=index' class="success" style="color:white;text-align: -webkit-center;">
        <td role="cell">{{i.newGarManf}}</td>
        <td role="cell">{{i.address}}</td>
        <td role="cell">{{i.Pincode}}</td>
        <td role="cell">{{i.Cperson}}</td>
        <td role="cell">{{i.mobile}}</td>
        <td role="cell">{{i.altermobile}}</td>
        <td role="cell">{{i.Email}}</td>
        <td role="cell">{{i.website}}</td>
        <td role="cell">{{i.remarks}}</td>
        <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <button id="export-button" type="button" (click)="exportExcel()" class="btn btn-info btn-lg ">Export</button>
</div>