<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Add Dry Process Material Supplier</h3>
      </div>
      <div class="card-body">
        <form class="form-login" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
          <div class="form-group row">
            <label for="subDep" class="col-sm-5 col-form-label"> Dry Process Material Supplier Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDep" name="newSupplierName" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepcfPassword" class="col-sm-5 col-form-label">Contact Person</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepcfPassword" name="Cperson" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepPassword" class="col-sm-5 col-form-label">Address</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepPassword" name="address" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepPassword" class="col-sm-5 col-form-label">Pin Code</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepPassword" name="Pincode" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Mobile Number</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="mobile" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Landline Number</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="landline" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">E-Mail ID</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="Email" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">TIN Number</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="tin" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Remark</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="remarks" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>

          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
                    border: none;
                    background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" (click)=" onAddBuyer()" style="font-size:60px;color: yellow;"></i>

            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>