<div class="container">

  <!-- Hamburger Menu -->
  <nav role='navigation'>
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#">
          <li>Add Sub Department</li>
        </a>
        <a href="#">
          <li>Sub Department List</li>
        </a>
        <a routerLink="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </nav>
  <!-- End of Hamburger Menu -->

  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Edit Sub Department Details</h3>

      </div>
      <div class="card-body">
        <form class="form-login">

          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label">Department</label>
            <div class="col-sm-7">
              <select class="form-control" id="seldep" name="seldep">
                <option>Select Department</option>
                <option selected>Inward</option>
                <option>Accountant</option>
                <option>Washing</option>
                <option>Outward</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDep" class="col-sm-5 col-form-label">Sub Department</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDep" value="Inward 2">
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepPassword" class="col-sm-5 col-form-label"> Old Password</label>
            <div class="col-sm-7">
              <input type="password" value="***********" class="form-control" id="subDepPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepPassword" class="col-sm-5 col-form-label"> New Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="subDepPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepcfPassword" class="col-sm-5 col-form-label">Confirm Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="subDepcfPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Remarks</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" value="Ramerks1, Remarks2" id="subDepRemark">
            </div>
          </div>

          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
            border: none;
            background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" (click)="onUpdatedSubDep()" style="font-size:60px;color: yellow;"></i>

            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>