/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
label
{
    color: #fff;
}
.container{
height: 100%;
background-size: cover;
width:100%;
background-repeat: no-repeat;
/* align-content: center; */
}

.card{
height: 640px;
margin-top:20px;
margin-bottom:20px;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
option
{
    margin-bottom: 10px!important;

}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

/* *************************************************************************
**********************  Media query for Mobile screen  */
@media only screen and (max-width : 768px) {
  .card{
      
    margin-top:auto;
    margin-bottom:auto;
      }
      input[type=text], select, textarea{
        width: 100%;
  
      }
      #seldep
      {
          width:auto;
      }
     select
     {
        max-width: 100% !important;
     }
     option
     {
         width:100%;
     }
     /*Make select2 responsive*/
[class*="col-"] select {
    width:100%!important;
}

/* [class*="col-"] select .select2-drop {
    width: 100%!important;
} */
 
}

@media only screen and (max-width : 480px) {
    .card{
        height: 800px;
        margin-top:20px;
        margin-bottom:20px;

        }

}