<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center">Add Dry Process Material Product </h3>
      </div>
      <div class="card-body">
        <form class="form-login" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
          <div class="form-group row">
            <label for="subDep" class="col-sm-5 col-form-label">Dry Process Material Product Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDep" name="dryproductname" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label"> Dry Process Material Supplier</label>
            <div class="col-sm-7">
              <select class="form-control form-control-sm form-control-lg " data-width="auto" id="seldep" name="dryDistributorName"
                #selectRef='ngModel' required ngModel>
                <option selected>Agent Name</option>
                <option *ngFor="let l of data">{{l.DpmName}}</option>

              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Average Per Day Consumption</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="dryConsumption" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Minimum Order Quantity</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="dryQuantity" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Reorder Level</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="dryReorderLevel" #selectRef='ngModel'
                required ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="subDepRemark" class="col-sm-5 col-form-label">Remark</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="subDepRemark" name="dryRemark" #selectRef='ngModel' required
                ngModel>
            </div>
          </div>

          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
                border: none;
                background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" style="font-size:60px;color: yellow;"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>