<div class="container" style="text-align: -webkit-center;">
  <div *ngIf="update" >
    <input type="text" name="name" [(ngModel)]=datatobeedited.subDepPassword >
    <input type="text" name="name" [(ngModel)]=datatobeedited.subDepRemark>
    <button (click)='saveUpdate(datatobeedited)' type="button" class="btn btn-sm btn-info" style="margin-top: -5px;font-size: 13.9px;">save</button>
  </div>
     
<br>
<br>
  <table class="table">
    <thead>
      <tr class="text-color">
        <th>subDepSelect</th>
        <th>subDepartment</th>
        <th>subDepPassword</th>
        <th>subDepRemark </th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of test; let in=index'  class="success">
        <td>{{i.subDepSelect}}</td>
         <td>{{i.subDepartment}}</td>
         <td>{{i.subDepPassword}}</td>
         <td>{{i.subDepRemark}}</td>
         <td><button (click)='editData(i,in)' type="button" class="btn btn-large btn-info">Edit</button></td>  
      </tr>
    </tbody>
  </table>
</div>
 

