.main-table
{
    width:800px;
    height:100%;
    margin: 0 auto;
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
    /* background-color: rgba(0,0,0,0.5) !important; */
    /* color: #fff; */
}
.text-color{
    color: cornsilk;
    text-align: -webkit-center;
}
.success{
    color: cornsilk;
    text-align: -webkit-center;
}