<div class="center">
  <div class="center-inner">
    <form id="login">
      <h4>Import File</h4>
      <hr>
      <p>* Only CSV File can be import. </p>

      <input type="file" name="files" class="form-control" #uploads (change)="onChange(uploads.files)" multiple value="process"
        #file />
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary" (click)="file.click()" type="button">Browser</button>
        </div>
        <input type="text" value="{{fileName}}" class="form-control form-control-lg" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <br>
      <div class="form-group" style="text-align:center">
        <button style="padding: 0;
                          border: none;
                          background: none;"
          type="button" (click)="onUpload()">

          <i class="fas fa-check-circle" style="font-size:70px;color: yellow;"></i>

        </button>
      </div>

    </form>
  </div>
</div>