<div class="container">
  <form class="form-login" role="form" #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align:center">Chemical Assign Master</h3>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label">Chemical Manufacturer</label>
            <div class="col-sm-7">
              <select class="form-control" id="seldep" name="choice" id="selectdep" #selectRef='ngModel' required
                ngModel>
                <option selected>Chemical Manufacturer</option>
                <option *ngFor="let data of dropdown1">{{data.newchemicalman}}</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label">Chemical Product Name</label>
            <div class="col-sm-7">
              <select class="form-control" id="seldep" name="choice1" id="selectdep" #selectRef='ngModel' required
                ngModel>
                <option selected>Chemical Product Name</option>
                <option *ngFor="let j of dropdown2">{{j.newproductname}}</option>

              </select>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="seldep" class="col-sm-5 col-form-label">Chemical Agent</label>
            <div class="col-sm-7">
              <select class="form-control" id="selectdep" name="choice2" #selectRef='ngModel' required ngModel>
                <option selected>Chemical Agent</option>
                <option *ngFor="let data1 of dropdown">{{data1.newChemicAgent}}</option>

              </select>
            </div>
          </div>
          <br>
          <br>
          <div class="form-group" style="text-align:center">
            <button style="padding: 0;
                border: none;
                background: none;" type="submit">
              <!-- <i class="far fa-check-circle"> -->
              <i class="fas fa-check-circle" style="font-size:60px;color: yellow;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>